.container-1{
    position: absolute;
    width: 60%;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(https://cdn.forms.office.net/forms/images/theme/camera.png);
    background-position: center center;
    background-size: cover;
}
#form-1{
    position: absolute;
    width: 40%;
    height: 80%;
    background-color: azure;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    padding: 25px 10px;
}
#form-1> * {
margin: 25px 15px;
}
#start{
    position: absolute;
    bottom: 20px;
    padding: 10px 15px;
    background-color: #d38a5a;
    color: white;
    border-radius:5px ;
    cursor: pointer;
}
